[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "external/shaderc"]
	path = external/shaderc
	url = https://github.com/google/shaderc.git
[submodule "external/spirvheaders"]
	path = external/spirvheaders
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "external/spirvtools"]
	path = external/spirvtools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "external/tinyobjectloader"]
	path = external/tinyobjectloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
